Repository inean/cloudflare-companion: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-version, pyupgrade

update-version:
  name: Update Version
  entry: scripts/versioning.py
  language: python
  pass_filenames: false
  stages:
  - commit
  additional_dependencies:
  - toml

pyupgrade:
  name: Pyupgrade
  entry: pyupgrade --py311-plus
  language: system

Migrate actions to work with uv instead of rye, use commit for lint and simplify
  .devcontainer/Dockerfile
  .github/actions/extract-python-version/action.yml
  .github/actions/setup-python-with-uv/action.yml
  .github/workflows/code.yml
  .github/workflows/containers.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  pyproject.toml
  src/dns_synchub/logger.py
  uv.lock
Due: update-version, pyupgrade

Update container images to launch a otel collector and a prometheus server
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/opentelemetry.yml
  .devcontainer/prometheus.yml
Due: none

Add telemetry logging functionality to the codebase
  pyproject.toml
  src/dns_synchub/logger.py
  src/dns_synchub/telemetry.py
  uv.lock
Due: update-version, pyupgrade

:feat: Add tenacity support to Docker Poller implementation. this way docker poller may reconnect when docker daemon is down temporaily
  src/dns_synchub/__main__.py
  src/dns_synchub/cli.py
  src/dns_synchub/pollers/docker.py
  src/dns_synchub/telemetry.py
Due: pyupgrade

Initial implementation of otlp tracer and metrics
  src/dns_synchub/logger.py
  src/dns_synchub/mappers/__init__.py
  src/dns_synchub/mappers/cloudflare.py
  src/dns_synchub/meter.py
  src/dns_synchub/settings.py
  src/dns_synchub/telemetry.py
  src/dns_synchub/tracer.py
  src/dns_synchub/types.py
  tests/test_cloudflare.py
Due: pyupgrade

Update devcontainer configuration to forward additional ports and enable telemetry and tracing
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/flagd/flagd.json
  .devcontainer/grafana/grafana.ini
  .devcontainer/grafana/provisioning/dashboards/main.yaml
  .devcontainer/grafana/provisioning/dashboards/main/main-dashboard.json
  .devcontainer/grafana/provisioning/dashboards/main/opentelemetry-collector-data-flow.json
  .devcontainer/grafana/provisioning/dashboards/main/opentelemetry-collector.json
  .devcontainer/grafana/provisioning/dashboards/main/spanmetrics-dashboard.json
  .devcontainer/grafana/provisioning/dashboards/main/traefik.json
  .devcontainer/grafana/provisioning/datasources/default.yaml
  .devcontainer/grafana/provisioning/datasources/jaeger.yaml
  .devcontainer/grafana/provisioning/datasources/opensearch.yaml
  .devcontainer/opentelemetry.yml
  .devcontainer/otelcol/opentelemetry.yml
  .devcontainer/prometheus.yml
  .devcontainer/prometheus/prometheus.yml
  .gitignore
  pyproject.toml
  uv.lock
Due: update-version

Make opentelemetry-distro a must requirement an let erxporter be the optional one
  .devcontainer/devcontainer.json
  Dockerfile
  pyproject.toml
  src/dns_synchub/__init__.py
  src/dns_synchub/__main__.py
  src/dns_synchub/cli.py
  src/dns_synchub/events.py
  src/dns_synchub/logger.py
  src/dns_synchub/mappers/__init__.py
  src/dns_synchub/mappers/cloudflare.py
  src/dns_synchub/meter.py
  src/dns_synchub/pollers/__init__.py
  src/dns_synchub/pollers/docker.py
  src/dns_synchub/pollers/traefik.py
  src/dns_synchub/settings.py
  src/dns_synchub/telemetry.py
  src/dns_synchub/tracer.py
  src/dns_synchub/types.py
  src/dns_synchub/utils/_helpers.py
  src/dns_synchub/utils/_once.py
  tests/test_cloudflare.py
  tests/test_docker.py
  uv.lock
Due: update-version, pyupgrade

Use uv workspaces facilities to move shareable code into packages dir
  .cache/.gitkeep
  .devcontainer/devcontainer.json
  .devcontainer/grafana/provisioning/dashboards/main/opentelemetry-collector.json
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  .vscode/settings.json
  Dockerfile
  packages/telemetry/.python-version
  packages/telemetry/README.md
  packages/telemetry/pyproject.toml
  packages/telemetry/src/telemetry/__init__.py
  packages/telemetry/src/telemetry/py.typed
  pyproject.toml
  scripts/versioning.py
  src/dns_synchub/cli.py
  src/dns_synchub/events/__init__.py
  src/dns_synchub/events/types.py
  src/dns_synchub/logger.py
  src/dns_synchub/mappers/__init__.py
  src/dns_synchub/mappers/cloudflare.py
  src/dns_synchub/meter.py
  src/dns_synchub/pollers/__init__.py
  src/dns_synchub/pollers/docker.py
  src/dns_synchub/pollers/traefik.py
  src/dns_synchub/pollers/types.py
  src/dns_synchub/practice.py
  src/dns_synchub/settings/__init__.py
  src/dns_synchub/settings/types.py
  src/dns_synchub/telemetry_constants.py
  src/dns_synchub/tracer.py
  tests/dns-synchub/test_cloudflare.py
  tests/dns-synchub/test_docker.py
  tests/dns-synchub/test_traefik.py
  tests/telemetry/test_telemetry.py
  uv.lock
Due: update-version, pyupgrade

Path conditions:
  update-version: any of: ^pyproject\.toml$
  pyupgrade: any of: \.py$
